.cover__title {
  max-width: 560px;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}
